<header class="header">
  <div class="header-left">
    <h1 class="header-title">{{ title }}</h1>
    <p class="header-subtitle">{{ subtitle }}</p>
  </div>
  <div class="header-right">
    <div class="user-profile">
      <div class="avatar-wrapper">
        <img
          [src]="currentUserPhoto()"
          alt="Avatar Admin"
          class="avatar-img"
        />
        <!-- <span class="status-indicator"></span> -->
      </div>
      <div class="user-info">
        <span class="user-name">Bonjour, {{ currentUserName() }}</span>
        <span class="user-role">{{ currentUserRole() }}</span>
      </div>
    </div>
  </div>
</header>

 <div class="ligne"> <hr> </div>
