.admin-layout {
  display: flex;
  min-height: 100vh;
  background-color: #F4F6F4;
}

.main-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 0;
  overflow-y: auto;
  height: 100vh;
}

.content-body {
  flex: 1;
}
